/********************Component-1********************** */

.header-wrapper {
  position: relative;
  background: url(../../assets/1-Home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
}
.main-info h1 {
  color: #fa0000
  ;
  text-transform: uppercase;
  font-family: serif;
  text-shadow: 1px 1px black;
}
.typed-text {
  font-size: 2rem;
  color: rgb(26, 209, 233);
  font-family: "Roboto Mono", sans-serif;
}
.btn-main-offer {
  /* border: 1px solid #; */
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #fff;
  background: #0f0e0e;
  text-shadow: 1px 1px black;
  margin: 2rem;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: red;
  color: rgb(255, 222, 6);
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
  }
  .btn-main-offer {
    font-size: 1rem;
    padding: 0.6rem 0.5rem 0.5rem 0.5rem;
  }
}
