.line-1 {
  position: relative;
  border-top: 2px solid black;
  top: 30px;
  width: 30%;
  left: 35%;
}
.div-2,
.image {
  position: relative;
  text-align: center;
  height: 320px;
  width: 550px;
  padding: 10px;
  left: 30px;
  top: 50px;
  border-radius: 20px;
}
